.page--material__background {
  background-color: #fff;
}

.temperature-container {
  font-size: 50px;
  margin-top: 26px;
  text-align: center;
}

.date-select-dialog-label {
  padding: 20px 25px 15px 25px;
  display: inline-block;
}

.date-select-dialog-label > span {
  display: inline-block;
  width: 55px;
  opacity: 0.6;
  font-size: 14px;
}

.date-select-dialog-label > input {
  display: inline-block;
  width: 160px;
}

.settings-dialog-list {
  margin-top: 10px;
  margin-left: 10px;
}

.dialog-container > ons-button {
  float: right;
  margin-right: 10px;
  margin-bottom: 10px;
}

.dialog {
  width: 270px;
}

#temperature-chart {
  width: 90%;
  margin: 10px;
  height: 250px;
}

.fab__icon {
  position: initial;
}
